/* ----- Font ----- */
@font-face {
	font-family: AndSuisse-Light;
	src: url("../font/AndSuisse-Light-WebS.woff2") format("woff2"), url("../font/AndSuisse-Light-WebS.woff") format("woff"), url("../font/AndSuisse-Light.ttf") format("truetype");
}
@font-face {
	font-family: SuisseIntl-Medium;
	src: url("../font/SuisseIntl-Medium.woff2") format("woff2"), url("../font/SuisseIntl-Medium.woff") format("woff"), url("../font/SuisseIntl-Medium.ttf") format("truetype");
}
@font-face {
	font-family: SuisseIntl-SemiBold;
	src: url("../font/SuisseIntl-SemiBold.woff2") format("woff2"), url("../font/SuisseIntl-SemiBold.woff") format("woff"), url("../font/SuisseIntl-SemiBold.ttf") format("truetype");
}

/* ----- Type ----- */
h1, h2, h3, h4, h5, h6 {
	font-family: SuisseIntl-Medium, Arial, Helvetica, sans-serif;
	color: #333333;
}
body {
	font-family: AndSuisse-Light, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 1.7em;
	font-weight: normal;
	line-height: 1.6em !important;
}
article p {
	text-justify: auto !important;
	text-align: left !important;
}
.about h1 {
	font-size: 2.5em;
	font-weight: normal;
	letter-spacing: -0.04rem;
}
.about h2 {
	font-family: AndSuisse-Light;
	font-weight: 300;
	font-size: 1.4em !important;
}

body.colorscheme-dark {
    /* color: #dadada; */
    background-color: #0d1117;
}

/* ----- Avatar ----- */
.avatar img {
	margin-bottom: 1rem;
	width: 10rem !important;
	background-size: 100%;
	overflow: hidden;
	border-radius: 90px;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	border: 3px solid #fff;
	-webkit-box-shadow: 0 0em 0.4em rgba(0, 0, 0, 0.1);
			box-shadow: 0 0em 0.4em rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.avatar img:hover {
	cursor: pointer;
	-webkit-transform: scale(1.1);
			transform: scale(1.1);
	-webkit-box-shadow: 0.2em 0.2em 0.6em rgba(0, 0, 0, 0.18);
			box-shadow: 0.2em 0.2em 0.6em rgba(0, 0, 0, 0.18);
}

/* body a:hover, li a:hover {
	color: #f29aa5 !important;
} */

/* ----- Browser Selection ----- */
/* ::-moz-selection {
	padding-top: 100px;
	background-color: #f29aa5;
	color: #333;
}
::selection {
	padding-top: 100px;
	background-color: #f29aa5;
	color: #333;
} */

body.colorscheme-dark .tag {
	background-color: #171b22 !important;
}
body.colorscheme-dark .tag a {
	color: #515864 !important;
}


.navigation a {
	font-family: SuisseIntl-Medium, Arial, Helvetica, sans-serif !important;
	font-weight: normal !important;
}
.navigation .navigation-title {
    letter-spacing: normal !important;
}
.footer {
	font-size: 1.4rem !important;
	font-family: SuisseIntl-Medium, Arial, Helvetica, sans-serif;
}
.footer a:link {
	color: #212121;
}
body.colorscheme-dark .footer a:link {
	color: #dadada;
}
.footer p {
	margin-bottom: 0 !important;
}