/* ----- Font ----- */
@font-face {
	font-family: AndSuisse-Light;
	src: url("../font/AndSuisse-Light-WebS.woff2") format("woff2"), url("../font/AndSuisse-Light-WebS.woff") format("woff"), url("../font/AndSuisse-Light.ttf") format("truetype");
}
@font-face {
	font-family: SuisseIntl-Medium;
	src: url("../font/SuisseIntl-Medium.woff2") format("woff2"), url("../font/SuisseIntl-Medium.woff") format("woff"), url("../font/SuisseIntl-Medium.ttf") format("truetype");
}
@font-face {
	font-family: SuisseIntl-SemiBold;
	src: url("../font/SuisseIntl-SemiBold.woff2") format("woff2"), url("../font/SuisseIntl-SemiBold.woff") format("woff"), url("../font/SuisseIntl-SemiBold.ttf") format("truetype");
}

/* ----- Type ----- */
h1, h2, h3, h4, h5, h6 {
	font-family: SuisseIntl-Medium, Arial, Helvetica, sans-serif;
	color: #333333;
	font-weight: normal;
}
body {
	font-family: AndSuisse-Light, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 1.7em;
	font-weight: normal;
	line-height: 1.6em !important;
}
article p {
	text-justify: auto !important;
	text-align: left !important;
}
.about h1 {
	font-size: 2.5em;
	font-weight: normal;
	letter-spacing: -0.04rem;
}
.about h2 {
	font-family: AndSuisse-Light;
	font-weight: 300;
	font-size: 1.4em !important;
}


pre,
code {
	background-color: #f0f0f0 !important;
}


body.colorscheme-dark {
    /* color: #dadada; */
    background-color: #0d1117;
}

body.colorscheme-dark .highlight pre,
body.colorscheme-dark code {
	background-color: #141920 !important;
}



/* ----- Avatar ----- */
.avatar img {
	margin-bottom: 1rem;
	width: 10rem !important;
	background-size: 100%;
	overflow: hidden;
	border-radius: 90px;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	border: 3px solid #fff;
	-webkit-box-shadow: 0 0em 0.4em rgba(0, 0, 0, 0.1);
			box-shadow: 0 0em 0.4em rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.avatar img:hover {
	cursor: pointer;
	-webkit-transform: scale(1.1);
			transform: scale(1.1);
	-webkit-box-shadow: 0.2em 0.2em 0.6em rgba(0, 0, 0, 0.18);
			box-shadow: 0.2em 0.2em 0.6em rgba(0, 0, 0, 0.18);
}

/* body a:hover, li a:hover {
	color: #f29aa5 !important;
} */

/* ----- Browser Selection ----- */
/* ::-moz-selection {
	padding-top: 100px;
	background-color: #f29aa5;
	color: #333;
}
::selection {
	padding-top: 100px;
	background-color: #f29aa5;
	color: #333;
} */

body.colorscheme-dark .tag {
	background-color: #171b22 !important;
}
body.colorscheme-dark .tag a {
	color: #515848 !important;
}


.navigation a {
	font-family: SuisseIntl-Medium, Arial, Helvetica, sans-serif !important;
	font-weight: normal !important;
}
.navigation .navigation-title {
    letter-spacing: normal !important;
}
.footer {
	font-size: 1.4rem !important;
	font-family: SuisseIntl-Medium, Arial, Helvetica, sans-serif;
}
.footer a:link {
	color: #212121;
}
body.colorscheme-dark .footer a:link {
	color: #dadada;
}
.footer p {
	margin-bottom: 0 !important;
}











img[alt=logo-unreal-engine],
img[alt=logo-unity],
img[alt=logo-git],
img[alt=logo-python],
img[alt=logo-3dsmax],
img[alt=logo-blender],
img[alt=logo-substance-designer],
img[alt=logo-substance-painter],
img[alt=logo-substance-sampler],
img[alt=logo-premiere],
img[alt=logo-aftereffects],
img[alt=logo-nuke],
img[alt=logo-vray],
img[alt=logo-brazil-rs],
img[alt=logo-forestpack],
img[alt=logo-railclone],
img[alt=logo-photoshop],
img[alt=logo-github],
img[alt=logo-rhino],
img[alt=logo-modo],
img[alt=logo-mari],
img[alt=logo-quixel-bridge],
img[alt=logo-vs-code],
img[alt=logo-vs-2019],
img[alt=logo-nvim],
img[alt=logo-vim],
img[alt=logo-powershell],
img[alt=logo-cpp],
img[alt=logo-anima],
img[alt=logo-speedtree],
img[alt=logo-cesium],
img[alt=logo-qgis],
img[alt=logo-shotgrid] {
	width: 36px;
	margin: 5px 10px 0 0;
	background-size: 36px 36px !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}



img[alt=logo-unreal-engine] {
	background: url("../images/logo/unreal-engine.svg");
}
img[alt=logo-unity] {
	background: url("../images/logo/unity.svg");
}
img[alt=logo-git] {
	background: url("../images/logo/git.svg");
}
img[alt=logo-python] {
	background: url("../images/logo/python.svg");
}
img[alt=logo-3dsmax] {
	background: url("../images/logo/3dsmax.svg");
}
img[alt=logo-blender] {
	background: url("../images/logo/blender.svg");
}
img[alt=logo-substance-designer] {
	background: url("../images/logo/substance-designer.svg");
}
img[alt=logo-substance-painter] {
	background: url("../images/logo/substance-painter.svg");
}
img[alt=logo-substance-sampler] {
	background: url("../images/logo/substance-sampler.svg");
}
img[alt=logo-premiere] {
	background: url("../images/logo/premiere.svg");
}
img[alt=logo-aftereffects] {
	background: url("../images/logo/aftereffects.svg");
}
img[alt=logo-nuke] {
	background: url("../images/logo/nuke.svg");
}
img[alt=logo-vray] {
	background: url("../images/logo/v-ray.svg");
}
img[alt=logo-brazil-rs] {
	background: url("../images/logo/brazil-rs.svg");
}
img[alt=logo-forestpack] {
	background: url("../images/logo/forestpack.svg");
}
img[alt=logo-railclone] {
	background: url("../images/logo/railclone.svg");
}
img[alt=logo-photoshop] {
	background: url("../images/logo/photoshop.svg");
}
img[alt=logo-github] {
	background: url("../images/logo/github.svg");
}
img[alt=logo-rhino] {
	background: url("../images/logo/rhino.svg");
}
img[alt=logo-modo] {
	background: url("../images/logo/modo.svg");
}
img[alt=logo-mari] {
	background: url("../images/logo/mari.svg");
}
img[alt=logo-quixel-bridge] {
	background: url("../images/logo/quixel-bridge.svg");
}
img[alt=logo-vs-code] {
	background: url("../images/logo/visual-studio-code.svg");
}
img[alt=logo-vs-2019] {
	background: url("../images/logo/visual-studio-2019.svg");
}
img[alt=logo-nvim] {
	background: url("../images/logo/neovim.svg");
}
img[alt=logo-vim] {
	background: url("../images/logo/vim.svg");
}
img[alt=logo-powershell] {
	background: url("../images/logo/powershell.svg");
}
img[alt=logo-cpp] {
	background: url("../images/logo/cpp.svg");
}
img[alt=logo-anima] {
	background: url("../images/logo/anima.svg");
}
img[alt=logo-speedtree] {
	background: url("../images/logo/speedtree.svg");
}
img[alt=logo-cesium] {
	background: url("../images/logo/cesium.svg");
}
img[alt=logo-qgis] {
	background: url("../images/logo/qgis.svg");
}
img[alt=logo-shotgrid] {
	background: url("../images/logo/shotgrid.svg");
}
body.colorscheme-dark img[alt=logo-unreal-engine],
body.colorscheme-dark img[alt=logo-unity],
body.colorscheme-dark img[alt=logo-vray],
body.colorscheme-dark img[alt=logo-rhino],
body.colorscheme-dark img[alt=logo-github],
body.colorscheme-dark img[alt=logo-shotgrid] {
	/* https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(100%) sepia(94%) saturate(24%) hue-rotate(57deg) brightness(105%) contrast(108%);
}







.timeline h4 {
	margin: 1em 0 0.3em;
	font-size: 1.2em;
}
.timeline ul {
	margin: 0.3em 0;
}
.activity ul {
	padding-left: 1.5em;
}
.activity li {
	display: inline-block;
	padding: 0.3em 0.5em 0.3em;
	margin: 0.5em 0.2em 0.2em;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	border-radius: .3em;
	font-size: 0.8em;
    color: #1565c0;
    border: 1px solid #1565c0;
}
body.colorscheme-dark .activity li {
	color: #42a5f5;
	border-color: #42a5f5;
}




.timeline .position {
	margin-bottom: 0.5rem;
}
.timeline .detail {
	margin-top: 0.5rem;
	font-family: SuisseIntl-Medium, Arial, Helvetica, sans-serif;
	font-size: 1.3em;
}
.timeline .location,
.timeline .date {
	position: relative;
	top: -0.1em;
	font-size: 70%;
	text-transform: uppercase;
}

.timeline hr {
	border: 0.1rem solid #ddd !important;
	margin-top: 3.5rem;
}
body.colorscheme-dark .timeline hr {
	border-color: rgb(56, 56, 56) !important;
}



.software {
	margin-left: 1.5em;
}
.software .pipeline {
	margin: 0;
	line-height: 1em;
}
.software * span {
	text-transform: uppercase;
	width: 7.5em;
	display: inline-block;
	top: -0.8em;
	position: relative;
	font-weight: normal;
	font-size: 0.8em;
	font-family: SuisseIntl-Medium, Arial, Helvetica, sans-serif;
}